---
http_interactions:
- request:
    method: get
    uri: https://api.esignatur.dk/Status/Get/%7Bc00771af-359c-4628-a72d-185d20f4e608%7D
    body:
      encoding: UTF-8
      string: '{"Email":"info@kreditmatch.dk"}'
    headers:
      Content-Type:
      - application/json
      X-Esignatur-Id:
      - 1aa6f55d-5724-e411-899d-d89d67640044
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"DocumentStatus":"Active","EndDate":"\/Date(1435179472000)\/","Reference":"6575bdbfxhxwZK430625","Email":"info@kreditmatch.dk","CustomData":null,"CustomInvoiceNumber":null,"DocumentsCount":1,"ConsentsCount":0,"AttachmentsCount":0,"Steps":[{"Signers":[{"Title":null,"Name":"Arjun
        Test","Email":"ankur@moorem.com","Identification":"36064595","Status":"Pending","SignDate":null,"CustomData":null}],"EndDate":null,"StartDate":null,"ReminderDate":null,"ReminderInterval":0,"Locked":false}]}'
  recorded_at: Tue, 28 Apr 2015 05:57:56 GMT
recorded_with: VCR 2.9.3
